/* App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
}

.staff-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Adjust height for stave container */
}

#staff {
  display: flex;
  justify-content: center;
}

.midi-note {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.midi-note.incorrect {
  color: red; /* Display the incorrect note in red */
}

.generated-note {
  font-size: 18px;
  font-weight: bold;
  color: blue; /* Display the generated note in blue after 3 incorrect attempts */
}